# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

package-lock.json
src/autoComponents.ts
src/autoComponents.d.ts
src/auto-components.ts
src/auto-components.d.ts
src/autoImport.ts
src/autoImport.d.ts

# Editor directories and files
# .vscode/*
# !.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
